[submodule "resources/data/mne-cpp-test-data"]
	path = resources/data/mne-cpp-test-data
	url = https://github.com/mne-tools/mne-cpp-test-data.git
	branch = master
[submodule "doc/doxygen/doxygen-awesome-css"]
	path = doc/doxygen/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
