# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
/MNE/MNELibraries.pro.user
/bin/*.dll
/lib/*.dll
/lib/*.exp
/lib/*.ilk
/lib/*.lib
/lib/*.pdb
/bin/MNE-sample-data/MEG
/bin/MNE-sample-data/subjects
/bin/MNE-sample-data/._.DS_Store
/bin/MNE-sample-data/._run_anatomy_tutorial.sh
/bin/MNE-sample-data/._run_meg_tutorial.sh
/bin/MNE-sample-data/.DS_Store
/bin/MNE-sample-data/.xdebug_tkmedit
/*.user
/bin/*.exe
/bin/*.ilk
/bin/*.pdb
/examples/readFwd/interfaces/IFiff.h.bak
/examples/readFwd/interfaces/IMNE.h.bak
/examples/readFwd/interfaces/IPlugin.h.bak
/bin/*.manifest
/lib/*.manifest
/bin/*.rc
/bin/*.res
/lib/*.rc
/lib/*.res
