# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
/MNELibraries-build-desktop-Qt_5_0_0__qt-everywhere-opensource-src-5_0_0__Release
/MNE/MNELibraries.pro.user
/bin/win32/debug/*.dll
/lib/win32/debug/*.dll
/lib/win32/debug/*.exp
/lib/win32/debug/*.ilk
/lib/win32/debug/*.lib
/lib/win32/debug/*.pdb
/bin/MNE-sample-data/MEG
/bin/MNE-sample-data/subjects
/bin/MNE-sample-data/._.DS_Store
/bin/MNE-sample-data/._run_anatomy_tutorial.sh
/bin/MNE-sample-data/._run_meg_tutorial.sh
/bin/MNE-sample-data/.DS_Store
/bin/MNE-sample-data/.xdebug_tkmedit
/*.user
/bin/win32/debug/*.exe
/bin/win32/debug/*.ilk
/bin/win32/debug/*.pdb
/examples/readFwd/interfaces/IFiff.h.bak
/examples/readFwd/interfaces/IMNE.h.bak
/examples/readFwd/interfaces/IPlugin.h.bak
/bin/win32/release/*.dll
/bin/win32/release/*.exe
/bin/win32/release/*.manifest
/lib/win32/release/*.dll
/lib/win32/release/*.manifest
/lib/win32/release/*.exp
/lib/win32/release/*.lib
