# Binaries Applications
/bin/mne_analyze
/bin/mne_analyzed
/bin/mne_browse
/bin/mne_browsed
/bin/mne_dipole_fit
/bin/mne_dipole_fitd
/bin/mne_forward_solution
/bin/mne_forward_solutiond
/bin/mne_launch
/bin/mne_launchd
/bin/mne_matching_pursuit
/bin/mne_matching_pursuitd
/bin/mne_rt_server
/bin/mne_rt_serverd
/bin/mne_sample_data_downloader
/bin/mne_sample_data_downloaderd
/bin/mne_scan
/bin/mne_scand
/bin/mne_show_fiff
/bin/mne_show_fiffd

# Binaries Examples
/bin/ex_cancel_noise
/bin/ex_cancel_noised
/bin/ex_evoked_grad_amp
/bin/ex_evoked_grad_ampd
/bin/ex_fiff_io
/bin/ex_fiff_iod
/bin/ex_find_evoked
/bin/ex_find_evokedd
/bin/ex_inverse_mne
/bin/ex_inverse_mned
/bin/ex_inverse_mne_raw
/bin/ex_inverse_mne_rawd
/bin/ex_make_inverse_operator
/bin/ex_make_inverse_operatord
/bin/ex_make_layout
/bin/ex_make_layoutd
/bin/ex_read_bem
/bin/ex_read_bemd
/bin/ex_read_epochs
/bin/ex_read_epochsd
/bin/ex_read_evoked
/bin/ex_read_evokedd
/bin/ex_read_fwd
/bin/ex_read_fwdd
/bin/ex_read_raw
/bin/ex_read_rawd
/bin/ex_read_write_raw
/bin/ex_read_write_rawd
/bin/ex_clustered_inverse_mne
/bin/ex_clustered_inverse_mned
/bin/ex_clustered_inverse_mne_raw
/bin/ex_clustered_inverse_mne_rawd
/bin/ex_clustered_inverse_pwl_rap_music_raw
/bin/ex_clustered_inverse_pwl_rap_music_rawd
/bin/ex_clustered_inverse_rap_music_raw
/bin/ex_clustered_inverse_rap_music_rawd
/bin/ex_connectivity
/bin/ex_connectivityd
/bin/ex_disp
/bin/ex_dispd
/bin/ex_disp_3D
/bin/ex_disp_3Dd
/bin/ex_fs_surface
/bin/ex_fs_surfaced
/bin/ex_histogram
/bin/ex_histogramd
/bin/ex_inverse_pwl_rap_music
/bin/ex_inverse_pwl_rap_musicd
/bin/ex_inverse_rap_music
/bin/ex_inverse_rap_musicd
/bin/ex_read_fwd_disp_3D
/bin/ex_read_fwd_disp_3Dd
/bin/ex_roi_clustered_inverse_pwl_rap_music
/bin/ex_roi_clustered_inverse_pwl_rap_musicd
/bin/ex_st_clustered_inverse_pwl_rap_music
/bin/ex_st_clustered_inverse_pwl_rap_musicd

# Binaries Tests
/bin/test_codecov
/bin/test_codecovd
/bin/test_dipole_fit
/bin/test_dipole_fitd
/bin/test_fiff_mne_types_io
/bin/test_fiff_mne_types_iod
/bin/test_fiff_rwr
/bin/test_fiff_rwrd
/bin/test_forward_solution
/bin/test_forward_solutiond

# Other files
/bin/MNE-sample-data/MEG
/bin/MNE-sample-data/subjects
/bin/MNE-sample-data/._.DS_Store
/bin/MNE-sample-data/._run_anatomy_tutorial.sh
/bin/MNE-sample-data/._run_meg_tutorial.sh
/bin/MNE-sample-data/.DS_Store
/bin/MNE-sample-data/.xdebug_tkmedit
/bin/*.dll
/bin/*.rc
/bin/*.res
/bin/MNE-sample-data/test_ctf_raw.fif
/bin/*.manifest
/bin/mne_rt_server_plugins/*.dll
/bin/*.exe
/bin/*.ilk
/bin/*.pdb
/bin/MNE-sample-data/*.txt
/bin/mne_rt_server_plugins/*.manifest
/bin/mne_rt_server_plugins/*.exp
/bin/mne_rt_server_plugins/*.lib
/bin/mne_rt_server_plugins/*.rc
/bin/mne_rt_server_plugins/*.res
/bin/mne_rt_server_plugins/*.ilk
/bin/mne_rt_server_plugins/*.pdb
/bin/mne_scan_plugins/*.dll
/bin/mne_scan_plugins/*.manifest
/bin/mne_scan_plugins/*.lib
/bin/mne_scan_plugins/*.exp
/bin/mne_scan_plugins/*.rc
/bin/mne_scan_plugins/*.res
/bin/mne_scan_plugins/*.ilk
/bin/mne_scan_plugins/*.pdb
/bin/mne_scan_plugins/mne_rt_server_plugins/*.dll
/bin/mne_scan_plugins/mne_rt_server_plugins/*.manifest
/bin/mne_scan_plugins/mne_rt_server_plugins/*.exp
/bin/mne_scan_plugins/mne_rt_server_plugins/*.lib
/bin/*.fif
/bin/mne_disp_test.app/Contents/MacOS/mne_disp_test
/bin/mne_disp_test.app/Contents/PkgInfo
/bin/mne_graph_test.app/Contents/MacOS/mne_graph_test
/bin/mne_graph_test.app/Contents/PkgInfo
/bin/mne_scan.app/Contents/MacOS/mne_scan
/bin/mne_scan.app/Contents/PkgInfo
/bin/.DS_Store
/bin/stc.dat
/bin/mne_browse.app/Contents/MacOS/mne_browse
/bin/mne_browse.app/Contents/PkgInfo
/bin/mne_scan_plugins/resources/tmsi/*.fif
/bin/*.stc
/bin/mne_scan_default.xml
/bin/mne_scan_plugins/resources/babymeg/ERio_P8.fif.gz
/bin/iconengines/*.dll
/bin/imageformats/*.dll
/bin/platforms/*.dll
/bin/translations/*.qm
/bin/*.qm
/bin/bearer/qgenericbearer.dll
/bin/bearer/qnativewifibearer.dll
/bin/Material
/bin/QtGraphicalEffects
/bin/QtQuick.2
/bin/Universal
/bin/private
/bin/scenegraph
/bin/QtQuick
/bin/qmltooling
/bin/platforminputcontexts
/bin/QtQml
/bin/MNE-sample-data/Result

/applications/mne_scan/plugins/tmsi/*.dll

/tools/ifw_installer/windows/*.user
/tools/ifw_installer/windows/packages/org.mne_cpp.suite.mne/data
/tools/ifw_installer/windows/packages/org.mne_cpp.suite.mne_browse/data
/tools/ifw_installer/build-windows-Qt_5_6_0_MSVC2015_64bit-Release
/tools/ifw_installer/build-windows-Desktop_Qt_5_6_0_MSVC2013_64bit-Release
/tools/ifw_installer/windows/packages/org.mne_cpp.suite.mne_analyze/data
/tools/ifw_installer/windows/packages/org.mne_cpp.suite.mne_scan/data
/tools/ifw_installer/windows/packages/org.mne_cpp.suite/data

/bin/MNE-test-data
/bin/bearer
/bin/mne_x_plugins/*.dll
/bin/mne_x_plugins/*.exp
/bin/mne_x_plugins/*.lib

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Generated files
ui_*.h
*.user
Makefile

/.gitignore~


# IDE settings
.cproject
.project
.settings
.vscode


*.dylib


*.plist


*.lproj

.directory
.~lock*
*autosave

.DS_Store

lib
