<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>MNE-CPP</Name>
    <Version>1.0.0</Version>
    <Title>MNE-CPP</Title>
    <Publisher>MNE-CPP Project</Publisher>
    <ProductUrl>http://www.mne-cpp.org</ProductUrl>
    <!-- Directory name is used in component.xml -->
    <StartMenuDir>MNE-CPP</StartMenuDir>
    <MaintenanceToolName>MNECppMaintenanceTool</MaintenanceToolName>
    <TargetDir>C:/Program Files/MNE-CPP</TargetDir><!-- @homeDir@/MNE-CPP -->
    <AdminTargetDir>C:/Program Files/MNE-CPP</AdminTargetDir><!-- @rootDir@/MNE-CPP -->
    <CreateLocalRepository>true</CreateLocalRepository>
    <Watermark>background.png</Watermark>
    <InstallerWindowIcon>mne-cpp_icon_32x32.png</InstallerWindowIcon>
    <WizardStyle>Modern</WizardStyle>
    <WizardDefaultWidth>600</WizardDefaultWidth>
    <WizardDefaultHeight>400</WizardDefaultHeight>
</Installer>
