name: DocuTest

on:
  push:
    branches:
    # Change this to the branch name you make changes to the documentation on
    - docu

jobs:
  gh-pages:
    runs-on: ubuntu-latest

    steps:
    - name: Clone repository
      uses: actions/checkout@v2
    - name: Setup Github credentials
      uses: fusion-engineering/setup-git-credentials@v2
      with:
        credentials: ${{secrets.GIT_CREDENTIALS_DOCU_TEST}}
    - name: Clone doc/gh-pages into gh-pages branch
      run: |
        git config --global user.email dev@dev.com
        git config --global user.name dev
        # Copy the changed docu files first
        cp -RT ../mne-cpp/doc/gh-pages ../newDoc
        # Checkout the gh-pages branch
        git checkout --track origin/gh-pages
        # Remove all files first
        git rm * -r
        git commit --amend -a -m 'Update docu' --allow-empty
        # Add the changed doc files
        cp -RT ../newDoc ../mne-cpp
        git add --all
        git commit --amend -a -m 'Update docu'
        git push -f --all