name: MacOS

on:
  pull_request:
    branches:
    - master

jobs:
  Release:
    runs-on: macos-latest

    steps:
    - name: Clone repository
      uses: actions/checkout@v1
    - name: Install 7Zip
      run: brew install p7zip
    - name: Install Qt
      uses: jurplel/install-qt-action@v2
      with:
        version: 5.10.1
        modules: qtcharts
    - name: Configure and compile MNE-CPP
      run: |        
        qmake -r MNECPP_CONFIG+=noTests
        make -j2
        
  Tests:
    runs-on: macos-latest

    steps:
    - name: Clone repository
      uses: actions/checkout@v1
    - name: Install Qt
      uses: jurplel/install-qt-action@v2
      with:
        version: 5.10.1
        modules: qtcharts
    - name: Configure and compile MNE-CPP
      run: |        
        qmake -r MNECPP_CONFIG+=noApplications MNECPP_CONFIG+=noExamples
        make -j2  
    - name: Run tests
      env:
        QTEST_FUNCTION_TIMEOUT: 900000
      run: |
        export DYLD_LIBRARY_PATH=$DYLD_LIBRARY_PATH:$PWD/lib
        git clone https://github.com/mne-tools/mne-cpp-test-data.git ./bin/mne-cpp-test-data
        for test in ./bin/test_*;
        do            
          echo ">> Starting $test"
          $test
        done