name: Windows

on:
  pull_request:
    branches:
    - master
    - github_actions

jobs:
  ReleaseQtLatest:
    runs-on: windows-2016

    steps:
    - name: Clone repository
      uses: actions/checkout@v1
    - name: Install Qt
      uses: jurplel/install-qt-action@v2
      with:
        version: 5.14.0
        arch: win64_msvc2017_64
        modules: qtcharts
    - name: Install jom
      run: choco install jom
    - name: Configure and compile MNE-CPP
      run: |
        # Setup VS compiler   
        cmd.exe /c "call `"C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\bin\amd64\vcvars64.bat`" && set > %temp%\vcvars.txt"
        Get-Content "$env:temp\vcvars.txt" | Foreach-Object { if ($_ -match "^(.*?)=(.*)$") { Set-Content "env:\$($matches[1])" $matches[2] } }
        qmake -r MNECPP_CONFIG+=noTests
        jom -j2

  ReleaseQtMinimum:
    runs-on: windows-2016

    steps:
    - name: Clone repository
      uses: actions/checkout@v1
    - name: Install Qt
      uses: jurplel/install-qt-action@v2
      with:
        version: 5.10.1
        arch: win64_msvc2017_64
        modules: qtcharts
    - name: Install jom
      run: choco install jom
    - name: Configure and compile MNE-CPP
      run: |
        # Setup VS compiler   
        cmd.exe /c "call `"C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\bin\amd64\vcvars64.bat`" && set > %temp%\vcvars.txt"
        Get-Content "$env:temp\vcvars.txt" | Foreach-Object { if ($_ -match "^(.*?)=(.*)$") { Set-Content "env:\$($matches[1])" $matches[2] } }
        qmake -r MNECPP_CONFIG+=noTests
        jom -j2

  Tests:
    runs-on: windows-2016

    steps:
    - name: Clone repository
      uses: actions/checkout@v1
    - name: Install Qt
      uses: jurplel/install-qt-action@v2
      with:
        version: 5.10.1
        arch: win64_msvc2017_64
        modules: qtcharts
    - name: Install jom
      run: |
        Invoke-WebRequest http://download.qt.io/official_releases/jom/jom.zip -OutFile .\jom.zip
        expand-archive -path "jom.zip" -destinationpath "$HOME\jom"        
        echo "::add-path::$HOME\jom"
    - name: Configure and compile MNE-CPP
      run: |      
        # Setup VS compiler     
        cmd.exe /c "call `"C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\bin\amd64\vcvars64.bat`" && set > %temp%\vcvars.txt"
        Get-Content "$env:temp\vcvars.txt" | Foreach-Object { if ($_ -match "^(.*?)=(.*)$") { Set-Content "env:\$($matches[1])" $matches[2] } }
        qmake -r MNECPP_CONFIG+=noTests
        jom -j2
    - name: Run tests
      env:
        QTEST_FUNCTION_TIMEOUT: 900000
      run: |  
        git clone https://github.com/mne-tools/mne-cpp-test-data.git ./bin/mne-cpp-test-data
        cd bin
        Get-ChildItem -Filter test_*.exe | ForEach {Write-Output "" "" Starting $_.Fullname; &$_.Fullname}